* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0F0715;
    --secondary-color: #8750f7;
    --secondary-color-1: #2a1454;
    --third-color: #381553;
    --fourth-color: #050709;
    --fifth-color: #1d0c2e;
    --heading-primary: #8750f7;
    --heading-secondary: #ffffff;
    --font-color: #ffffff;
    --font-color-secondary: #ddddddd8;
    --tj-black-2: #050709;
    --tj-grey-4: #22272c;
    --tj-white: #ffffff;
    --primary-border-color: #5f409d;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--primary-color);
}

header {
    height: 72px;
    width: 100%;
    background-color: var(--fourth-color);
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid var(--secondary-color);
    box-shadow: var(--secondary-color) 0px 10px 20px -10px;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

.menu-toggle {
    display: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
}

.close-menu {
    display: none;
    align-self: flex-end;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}

.logo {
    display: inline-block;
    color: var(--font-color);
    font-size: 30px;
    width: 170px;
    margin-left: 90px;
}

#myname {
    font-weight: 700;
    font-size: 35px;
    background-image: linear-gradient(to right,
            var(--heading-secondary),
            var(--heading-primary),
            var(--heading-secondary));
    cursor: pointer;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradient-animation 5s infinite;
}

#myname a {
    text-decoration: none;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Navbar links hover animation */
nav ul li a {
    text-decoration: none;
    position: relative;
    color: var(--font-color);
    transition: color 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--heading-primary);
    left: 0;
    bottom: 3px;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--heading-primary);
}

nav ul li a:hover::after {
    width: 100%;
}

.contact  {
    text-decoration: none;
    color: var(--font-color);
}

.contact,
.view-more,
.submit-contact-form {
    padding: 8px 10px;
    background-image: linear-gradient(to right,
            var(--secondary-color) 0%,
            var(--third-color) 50%,
            var(--secondary-color) 100%);
    color: var(--font-color);
    border: none;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    background-size: 200% 100%;
    /* Extend the background for animation */
    transition: all 0.4s ease-in-out;
    /*Smooth transition for other properties*/
}

.contact:hover,
.view-more:hover,
.submit-contact-form:hover {
    animation: gradient-smooth 2s infinite;
    /* Apply the animation on hover */
    transform: scale(1.05);
}

/* Keyframes for smooth gradient transition */
@keyframes gradient-smooth {
    0% {
        background-position: 0% 50%;
        /* Start at the left */
    }

    50% {
        background-position: 100% 50%;
        /* Move to the right */
    }

    100% {
        background-position: 0% 50%;
        /* Return to the left */
    }
}

.container {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.hero-left {
    width: 60%;
    height: 90%;
}

.content {
    color: var(--font-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.headingforname {
    font-size: 30px;
    font-weight: 500;
}

.headingforSkllis {
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, var(--heading-primary) 0%, var(--heading-secondary) 51%, var(--heading-primary) 100%);
    -webkit-background-clip: text;
    /* Clips the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    /* Extend the background for animation */
}

.hero-right {
    width: 30%;
    height: 80%;
}

.intro {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    color: var(--font-color-secondary);
}

.About,
.Skills,
.certificates,
.contact-section,
.resume-container {
  min-height: unset;
  padding: 20px 0 80px;
}

.resume {
    width: 250px;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    font-size: 20px;
    color: var(--font-color);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    color: var(--heading-primary);
}

.download-icon {
    color: var(--heading-primary);
    padding-left: 8px;
    height: 1.2rem;
}

.icons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
    padding-top: 0px;
}

.circle-for-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-icon {
    font-size: 22px;
    color: var(--secondary-color);
}

.app-icon a {
    text-decoration: none;
    font-size: 22px;
    color: var(--secondary-color);
}

.hero-image {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid #7114b9;
    transition: transform 0.5s linear;
    bottom: 20px;
}

.hero-image:hover {
    transform: scale(1.05);
    border: 2px solid var(--secondary-color);
}

.About {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--fourth-color);
}

.about-heading {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, var(--heading-primary) 0%, var(--heading-secondary) 51%, var(--heading-primary) 100%);
    -webkit-background-clip: text;
    /* Clips the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    /* Extend the background for animation */
}

.about-me {
    width: 80%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    top: 20px;
}

.about-image {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid var(--secondary-color);
}

.about-info {
    font-size: 20px;
    line-height: 1.7;
    color: var(--font-color-secondary);
    position: relative;
    right: 0;
}

.resume-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    margin-top: 30px;
    background-color: var(--primary-color);
}

.container-experience,
.container-education {
    width: 45%;
    min-height: 500px;
}

.heading-for-experience,
.heading-for-education {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 50px;
}

.resume-icon {
    fill: var(--heading-primary);
    /* Or any color */
    height: 70px;
}

.heading-for-experience h1,
.heading-for-education h1,
.skills-heading {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to right, var(--heading-primary) 0%, var(--heading-secondary) 51%, var(--heading-primary) 100%);
    -webkit-background-clip: text;
    /* Clips the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    /* Extend the background for animation */
}

.experience-content,
.education-content {
    width: 97%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.internship-container,
.college-container {
    width: 90%;
    height: auto;
    background-color: var(--fifth-color);
    margin: 20px 0px;
    padding: 20px;
    gap: 10px;
    display: flex;
    border-radius: 20px;
    transition: all 0.5s linear;
}

.company-image,
.College-image {
    height: 90px;
    width: 90px;
    background-size: cover;
    border-radius: 50%;
}

.intership-info,
.college-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.position-heading h2,
.college-name h2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--heading-primary);
    padding-left: 10px;
}

.duration-of-internship p,
.description-of-internship p,
.duration-of-College p,
.description-of-College p {
    font-size: 15px;
    color: var(--font-color-secondary);
    padding-left: 10px;
}

.internship-container:hover,
.college-container:hover {
    transform: scale(1.05);
    background-color: #531fbb;
}

.internship-container:hover h2,
.college-container:hover h2 {
    color: var(--font-color-secondary);
}

.Skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--fourth-color);
}

/* Skills hover effect */
.skill {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border: 1px solid var(--heading-primary);
}

.skill:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--heading-primary);
}

.skills-heading,
.certificates-heading,
.contact-heading {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to right, var(--heading-primary) 0%, var(--heading-secondary) 51%, var(--heading-primary) 100%);
    -webkit-background-clip: text;
    /* Clips the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    padding-top: 20px;
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
}

.skill {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.5s linear;
}

.skill img {
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.skill p {
    font-size: 25px;
    font-weight: 400;
    color: var(--font-color);
    padding-top: 30px;
}

.certificates {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--primary-color);
    margin-top: 30px;
}

.certificates-content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 80px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.certificate {
    width: 350px;
    min-height: 450px;
    border-radius: 20px;
    background-color: #25113a;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 30px 30px;
    transition: all 0.5s linear;
    border: 1px solid var(--primary-border-color)
}

.certificate:hover {
    transform: translateY(-10px) scale(1.05);
    border: 2px solid var(--secondary-color);

}

.certificate img {
    height: 60%;
    width: 100%;
    border-radius: 15px;
}

.certificate-name {
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
    padding-top: 30px;
}

.certificate-description {
    font-size: 18px;
    color: var(--font-color-secondary);
    padding-top: 10px;
}

.view-more a {
    text-decoration: none;
    color: var(--font-color);
}

#About,
#Experience,
#Skills,
#certificates,
#contact {
    scroll-margin-top: 80px;
}

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--fourth-color);
}

.contact-info {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: transparent;
    margin-top: 20px;
    gap: 50px;
}

.contact-form {
    width: 30%;
    min-height: 560px;
    background-color: var(--fifth-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.contact-description {
    width: 30%;
    min-height: 560px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.contact-description p {
    font-size: 18px;
    color: var(--font-color-secondary);
}

.contact-description a {
    text-decoration: none;
    font-size: 18px;
    color: var(--font-color);
}

.contact-description-box {
    display: flex;
    gap: 20px;
    margin-left: 40px;
}

.contact-info-box {
    height: 70px;
    width: 75%;
}

.icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-image: -o-linear-gradient(289deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    background-image: linear-gradient(161deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    font-size: 20px;
    line-height: 1;
}

.contact-icons {
    height: auto;
    width: 30px;
    fill: var(--font-color);
}

.contact-form-heading {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to right, var(--heading-primary) 0%, var(--heading-secondary) 51%, var(--heading-primary) 100%);
    -webkit-background-clip: text;
    /* Clips the background to the text */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    /* Extend the background for animation */
}

.form-content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-description {
    font-size: 16px;
    line-height: 1.5;
    color: #DDDDDD;
    padding-left: 10px;
}

.input-for-contact-form {
    width: 100%;
    background: var(--tj-black-2);
    border: 1px solid var(--tj-grey-4);
    font-size: 16px;
    line-height: 1.5;
    color: var(--tj-white);
    padding: 14px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    -webkit-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    outline: none;
    height: auto;
}

.select-for-form {
    border-right: 16px solid transparent;
    color: #dddddd8c;
    padding-left: 15px;
}

.contact-message {
    height: 100px;
}

.message-content {
    height: 70px;
    resize: none;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

footer {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--font-color);
}

@media (max-width: 768px) {

    header {
        height: 64px;
    }

    header nav {
        justify-content: space-between;
        padding: 0 15px;
    }

    .menu-toggle {
        display: block;
    }

    .close-menu {
        display: block;
    }

    .header-content.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background-color: var(--fourth-color);
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
        padding: 40px 20px;
        transition: 0.4s ease-in-out;
        z-index: 9999;
    }

    .header-content.active {
        right: 0;
    }

    .header-content ul {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 40px;
    }

    .header-content ul li a {
        font-size: 20px;
    }

    .header-content {
        display: none;
    }

    .hero {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 30px 0px;
    }

    .hero-left,
    .hero-right {
        width: 100%;
        height: auto;
    }

    .headingforSkllis {
        font-size: 40px;
    }

    .download-icon {
        width: 1.8em;
        height: 1.8em;
    }

    .circle-for-icon {
        height: 2rem;
        width: 3rem;
        padding: 2px;
    }

    .About,
    .Skills,
    .certificates,
    .contact-section {
        height: auto;
        padding: 30px 0 90px;
    }

    .about-me {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .about-image {
        width: 100%;
        height: auto;
    }

    .resume-container {
        flex-direction: column;
        height: auto;
    }

    .container-experience,
    .container-education {
        width: 100%;
        height: auto;
    }

    .internship-container,
    .college-container {
        width: 100%;
    }

    .position-heading h2,
    .college-name h2 {
        font-size: 20px;
    }

    .skills-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill {
        width: 140px;
        height: 140px;
    }

    .skill img {
        height: 5rem;
        width: 6rem;
        padding-top: 10px;
        object-fit: contain;
    }

    .skill p {
        padding-top: 10px;
        font-size: 18px;
    }

    .certificates-content {
        flex-direction: column;
        padding-top: 30px;
    }

    .certificate {
        width: 90%;
        height: auto;
    }

    .contact-info {
        flex-direction: column;
        gap: 30px;
    }

    .contact-form,
    .contact-description {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .input-for-contact-form {
        width: 100%;
    }

    footer {
        height: auto;
        padding: 20px;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header-content {
        width: 80%;
    }

    .hero {
        padding: 100px 40px;
    }

    .About,
    .Skills,
    .certificates,
    .contact-section {
        height: auto;
        padding: 30px 0 90px;
    }

    .resume-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 40px;
    }

    .container-experience,
    .container-education {
        width: 90%;
    }

    .Skills {
        width: 100%;
        padding: 60px 20px;
    }

    .skills-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 95%;
        margin: 0 auto;
    }

    .skill {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
    }

    .contact-form,
    .contact-description {
        width: 90%; 
        margin: 0 auto;
    }
}